config PROTOCOL
    default "MESI_Three_Level_Stream" if RUBY_PROTOCOL_MESI_THREE_LEVEL_STREAM
    default "MESI_Two_Level_Stream" if RUBY_PROTOCOL_MESI_TWO_LEVEL_STREAM

cont_choice "Ruby protocol"
    config RUBY_PROTOCOL_MESI_THREE_LEVEL_STREAM
        bool "MESI three level stream"
    config RUBY_PROTOCOL_MESI_TWO_LEVEL_STREAM
        bool "MESI two level stream"
endchoice
